
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

@import url('https://fonts.googleapis.com/css2?family=RocknRoll+One&display=swap');


body{
background-color: #fff;
}

.topbar{
    background-color:#000;
    height:40px;
}
na.navbar{
    opacity:0.95;
}
na.navbar li{
    margin-right:-30px  !important;
}
h2.font{
    font-family:'Lobster',sans-serif!important ;
    font-size:45px;
}
/* nav{
    height:70px !important;
} */
.navbar ul li {
    margin-right:20px !important;
}
.navbar-brand{
    font-weight: bold;
    font-size: larger;
    font-family:'RocknRoll One', sans-serif;
}
.herosection{
    width: 100%;
    height:40vh;
    background-image:linear-gradient(rgba(0,0,0,.3),rgba(0,0,0,.3)),url(/static/img/evgeny-tchebotarev-aiwuLjLPFnU-unsplash.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
}
.herosection2{
    width: 100%;
    height:40vh;
    background-image:linear-gradient(rgba(0,0,0,.3),rgba(0,0,0,.3)),url(/static/img/evgeny-tchebotarev-aiwuLjLPFnU-unsplash.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
}
.herosection-two{
    width: 100%;
    height:40vh;
    background-image:linear-gradient(rgba(0,0,0,.3),rgba(0,0,0,.3)),url(/staticimg/pexels-mnz-1598505.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    z-index: -1;
}
.hero{
    padding-top:5rem;
}
.font-bold{
    font-weight: bold;
}
footer{
    margin-top:150px;
    color: #333336;
    background-color:lightgray;
}
footer p a{
   text-decoration: none !important;
   color: #333;
}
.about{
    margin-top:150px;
}
.about h1{
    font-weight:bold;
}
.about-top{
    margin-top: 200px;
    font-weight:bold;
}
.about-top h1{
    font-weight:bold;
}

.img img{
     height:500px;
    -ms-transform: rotateZ(180deg);
    -webkit-transform: rotateZ(360deg);
}
.circle{
    width:100px;
    height:100px;
    border:1px solid black;
}
.circle i{
    font-size: 25px;
}
.small-text{
    font-size:20px;
}
/* .pre-loader{
    margin-top:250px;
    width: 100%;
    height: 100%;
    overflow-y: hidden;
    background-color: #fff;
} */

